<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Userpage</title>
</head>

<body>
<!--header-->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"><i class="flaticon-pharmacy"
						style="color:#30969c;"></i><span style="color:#30969c;"><strong>Physician</strong></span>
					<strong>Advisor</strong></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
					aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="oi oi-menu"></span> Menu
				</button>

				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a th:href="@{/}" class="nav-link"><strong>Home</strong></a>
						</li>
						<li class="nav-item"><a th:href="@{/about}" class="nav-link"><strong>About</strong></a></li>
						<li class="nav-item"><a th:href="@{/contact}" class="nav-link"><strong>Contact</strong></a>
						</li>
						<li class="nav-item"><a th:href="@{/doctors}" class="nav-link"><strong>Doctors</strong></a></li>
						
					
						<li sec:authorize="hasRole('USER')" class="nav-item"><a th:href="@{/cases/usercases}"
								class="nav-link"><strong>My Cases</strong></a></li>
						<li sec:authorize="hasRole('DOCTOR')" class="nav-item"><a th:href="@{/cases/doctorcases}"
								class="nav-link"><strong>My Cases</strong></a></li>
						<li sec:authorize="hasRole('ADMIN')" class="nav-item"><a th:href="@{/cases/allcases}"
								class="nav-link"><strong>Admin</strong></a></li>
					</ul>

				</div>
				<div sec:authorize="isAnonymous()" class="nav-item ">
					<form action="/login" method="GET">
						<button type="submit" class="btn " style="margin-left:100px; color:#30969c;">Log In</button>
					</form>
				</div>
				<div sec:authorize="isAuthenticated()" class="nav-item ">
					<form th:action="@{/logout}" method="POST">
						<button type="submit" class="btn " style="margin-left:100px; color:#30969c;">Logout</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
	
	<!--subscribe-->
	<section class="ftco-section-parallax" th:fragment="subscribe">
		<div class="parallax-img d-flex align-items-center">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
						<h2>Subscribe to our Newsletter</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts. Separated they live in</p>
						<div class="row d-flex justify-content-center mt-5">
							<div class="col-md-8">
								<form action="#" class="subscribe-form">
									<div class="form-group d-flex">
										<input type="text" class="form-control" placeholder="Enter email address">
										<input type="submit" value="Subscribe" class="submit px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--footer-->
	<footer class="ftco-footer ftco-bg-dark ftco-section img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Physician Advisor</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Information</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Our Specialties</a></li>
							<li><a href="#" class="py-2 d-block">Why Choose us</a></li>
							<li><a href="#" class="py-2 d-block">Our Services</a></li>
							<li><a href="#" class="py-2 d-block">health Tips</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Site Links</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Home</a></li>
							<li><a href="#" class="py-2 d-block">About</a></li>
							<li><a href="#" class="py-2 d-block">Doctors</a></li>
							<li><a href="#" class="py-2 d-block">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St., Fake, California, USA</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+1 234 3929210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">info@domain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Physician Advisor
				</div>
			</div>
		</div>
	</footer>

</body>

</html>