<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Add Hospital New</title>
	<!-- Bootstrap core CSS-->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/4d45c4ec1e.js" crossorigin="anonymous"></script>


	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/vendor/css/sb-admin.css" rel="stylesheet">
</head>

<body id="page-top"
	style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
	<div>
		<div th:replace="fragments/master :: navbar" id="navbar"></div>
	</div>
	<div id="wrapper">
		<div th:replace="fragments/master :: sidebar" id="sidebar"></div>
		<div id="content-wrapper" th:replace="hospital/addhospital :: content-wrapper"></div>	
	</div>
	
</body>

</html>

