<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminpage :: headerfragment">
    <title id="pageTitle">All Hospitals</title>
</head>

<body>

	<body id="page-top" style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
			<div th:replace="fragments/adminpage :: header"></div>

		<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/sidebar :: sidebar"></div>

			<div id="content-wrapper">

				<div class="container-fluid">

					<ol class="breadcrumb" style="background-color:#30969c">
						<li class="breadcrumb-item">
							<a th:href="@{/doctor/add}" style="color:black">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Overview</li>
					</ol>

					<div id="content-wrapper">
						<div class="card mb-3">

							<h3 align="center" style="color:#30969c; margin-top: 10px">Hospital List</h3>

							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Id</th>
												<th>Hospital Name</th>
												<th>Facility Name</th>
												<th>Address</th>
												<th>Action</th>

											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Id</th>
												<th>Hospital Name</th>
												<th>Facility Name</th>
												<th>Address</th>
												<th>Action</th>
											</tr>
											<tbody>
												<tr th:each="hospital:${hospitals}">

													<td th:text="${hospital.id}" />
													<td th:text="${hospital.hospitalName}" />
													<td th:text="${hospital.facilityName}" />
													<td th:text="${hospital.address}" />												
													<td> <a th:href="@{/hospital/update/{id}(id=${hospital.id})}"
															class="btn btn-info"><i
																class="fa fa-edit"></i></a>
														<a th:href="@{/hospital/delete/{id}(id=${hospital.id})}"
															class="btn btn-danger"><i class="fa fa-remove"></i></a>


												</tr>

											</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- /.container-fluid -->

						<!-- Sticky Footer -->
					<div th:replace="fragments/adminpage :: footer"></div>

					</div>
					<!-- /.content-wrapper -->

				</div>
				<!-- /#wrapper -->

				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fas fa-angle-up"></i>
				</a>

				<!-- Logout Modal-->
			</div>
		</div>


		<div th:replace="fragments/adminpage :: logout"></div>
	</body>
</html>