<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminpage :: headerfragment">
    <title id="pageTitle">Update Hospital</title>
</head>

<body id="page-top"
	style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
	<div th:replace="fragments/adminpage :: header"></div>

	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div id="content-wrapper">

			<div class="container-fluid">
				<h3 style="color:#30969c; margin-top: 20px" align="center">Update Hospital</h3>

				<div>
					<form action="#" th:action="@{/hospital/save}" th:object="${hospital}" method="POST">

						<table align="center" width=40%>

							<tr>
								<input type="hidden" th:field="*{id}">

								<td><br><input type="text" th:field="*{hospitalName}" class="form-control" required=""
										placeholder="Hospital Name"></td>
							</tr>
							<tr>

								<td><br><input type="text" th:field="*{facilityName}" required="" class="form-control"
										placeholder="Facility Name"></td>
							</tr>

							<tr>
								<input type="hidden" th:field="*{address.id}">

								<td><br><input th:field="*{address.addressLine1}" class="form-control" required=""
										placeholder="Address 1" /></td>
							</tr>
							<tr>


								<td><br><input th:field="*{address.addressLine2}" class="form-control"
										placeholder="Address 2" /></td>
							</tr>
							<tr>


								<td><br><input th:field="*{address.city}" class="form-control" required=""
										placeholder="City" /></td>
							</tr>
							<tr>


								<td><br><input th:field="*{address.state}" class="form-control" required=""
										placeholder="State" title="Two letter US State code"pattern="^((A[LKZR])|(C[AOT])|(D[EC])|(FL)|(GA)|(HI)|(I[DLNA])|(K[SY])|(LA)|(M[EDAINSOT])|(N[EVHJMYCD])|(O[HKR])|(PA)|(RI)|(S[CD])|(T[NX])|(UT)|(V[TA])|(W[AVIY]))$"/></td>
							</tr>
							<tr>


								<td><br><input th:field="*{address.zipcode}" class="form-control" required=""
										placeholder="Zip Code" title="Five digit zip code" pattern="[0-9]{5}"/></td>
							</tr>
							<tr>


								<td><br><input th:field="*{address.country}" class="form-control" required=""
										placeholder="Country" /></td>
							</tr>

							<tr>
								<td colspan="2" align="center"><br><input class="btn btn-lg" type="submit"
										value="Submit" style="background-color:#30969c"><br></td>

							</tr>

						</table>
					</form>
				</div>

				<!-- Sticky Footer -->
				<div th:replace="fragments/adminpage :: footer"></div>


			</div>
			<!-- /.content-wrapper -->

		</div>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

	</div>
	<!-- Logout Modal-->


	<div th:replace="fragments/adminpage :: logout"></div>

</body>

</html>