<!DOCTYPE html>
<html>

<head th:include="fragments/userpage :: headerfragment">
    <title id="pageTitle">About</title>
</head>

<body>
	<div th:replace="fragments/userpage :: header"></div>

	<div class="hero-wrap" style="background-image: url('../images/istockphoto-1180780708-612x612.jpg'); background-attachment:fixed;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center"
				data-scrollax-parent="true">
				<div class="col-md-8 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/index}">Home</a></span> <span>About</span>
					</p>
					<h1 class="mb-3 bread">About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="ftco-section-2">
		<div class="container-fluid d-flex">
			<div class="section-2-blocks-wrapper row no-gutters">
				<div class="img col-sm-12 col-lg-6" style="background-image: url('../images/Cover Image-03.jpg');">
				</div>
				<div class="text col-lg-6 ftco-animate">
					<div class="text-inner align-self-start">

						<h3>Welcome to Physician Advisor</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
							Semantics, a large language ocean.</p>

						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
							It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
    	<div th:replace="fragments/userpage :: subscribe"></div>
    
   <div th:replace="fragments/userpage :: footer"></div>
<!--Script-->
		    <div th:replace="fragments/userpage :: script"></div>

</body>

</html>