<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css"
		th:href="@{https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="Login_v4/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login_v4/css/util.css">
	<link rel="stylesheet" type="text/css" href="Login_v4/css/main.css">
	<!--===============================================================================================-->

</head>

<title>User Registration</title>
</head>

<body>

	<div class="limiter">
		<div class="row">
			<div class="container-login100"
				style="background-image: linear-gradient(45deg, #145ba7 0%, #62c593 100%); min-height:100vh;">

				
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<span class="login100-form-title p-b-49">
						Registration
					</span>
					<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered!</div>
				</div>
					

					<form th:action="@{/registration}" th:object="${user}" method="post">

						<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
							th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
							error</p>

						<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
							<label for="firstName" class="control-label">First name</label> <input id="firstName"
								class="form-control" th:field="*{firstName}" />

							<p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">
								Validation error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
							<label for="lastName" class="control-label">Last name</label> <input id="lastName"
								class="form-control" th:field="*{lastName}" />
							<p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">
								Validation error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
							<label for="email" class="control-label"> E-mail</label> <input id="email"
								class="form-control" th:field="*{email}" />
							<p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">
								Validation
								error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
							<label for="confirmEmail" class="control-label">Confirm
								e-mail</label> <input id="confirmEmail" class="form-control"
								th:field="*{confirmEmail}" />
							<p class="error-message" th:each="error : ${#fields.errors('confirmEmail')}"
								th:text="${error}">
								Validation error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
							<label for="password" class="control-label">Password</label> <input id="password"
								class="form-control" type="password" th:field="*{password}" />
							<p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">
								Validation error</p>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
							<label for="confirmPassword" class="control-label">Confirm
								password</label> <input id="confirmPassword" class="form-control" type="password"
								th:field="*{confirmPassword}" />
							<p class="error-message" th:each="error : ${#fields.errors('confirmPassword')}"
								th:text="${error}">Validation error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
							<input id="terms" type="checkbox" th:field="*{terms}" /> <label class="control-label"
								for="terms" style="font-size:13px"> I agree with the <a href="#">terms and conditions
									for Registration.</a>
							</label>
							<p class="error-message" th:each="error : ${#fields.errors('terms')}" th:text="${error}">
								Validation
								error</p>
						</div>
						<div class="form-group">
							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button class="login100-form-btn">

										Register
									</button>
								</div>
							</div> <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	<!--===============================================================================================-->
	<script src="Login_v4/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="Login_v4/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="Login_v4/vendor/bootstrap/js/popper.js"></script>
	<script src="Login_v4/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="Login_v4/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="Login_v4/vendor/daterangepicker/moment.min.js"></script>
	<script src="Login_v4/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="Login_v4/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="Login_v4/js/main.js"></script>
	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


</body>

</html>