<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminpage :: headerfragment">
    <title id="pageTitle">All Doctors</title>
</head>

<body>

	<body id="page-top"
		style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
		<div th:replace="fragments/adminpage :: header"></div>

		<div id="wrapper">

			<!-- Sidebar -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<div id="content-wrapper">

				<div class="container-fluid">

					<ol class="breadcrumb" style="background-color:#30969c">
						<li class="breadcrumb-item">
							<a th:href="@{/doctor/add}" style="color:black">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" style="color:white">Overview</li>
					</ol>

					<div id="content-wrapper">
						<div class="card mb-3">

							<h3 align="center" style="color:#30969c; margin-top: 10px">Doctor List</h3>

							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Id</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Speaciality</th>
												<th>Email</th>

												<th>Action</th>

											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Id</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Speaciality</th>
												<th>Email</th>
												<th>Action</th>
											</tr>
											<tbody>
												<tr th:each="doctor:${doctors}">

													<td th:text="${doctor.id}" />
													<td th:text="${doctor.firstName}" />
													<td th:text="${doctor.lastName}" />
													<td th:text="${doctor.speciality}" />
													<td th:text="${doctor.email}" />
													<td> <a th:href="@{/doctor/update/{id}(id=${doctor.id})}"
															class="btn btn-info"><i class="fa fa-edit"></i></a>
														<a th:href="@{/doctor/delete/{id}(id=${doctor.id})}"
															class="btn btn-danger"><i class="fa fa-remove"></i></a>
													</td>

												</tr>

											</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- /.container-fluid -->

						<!-- Sticky Footer -->
						<div th:replace="fragments/adminpage :: footer"></div>

					</div>
					<!-- /.content-wrapper -->

				</div>
				<!-- /#wrapper -->

				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fas fa-angle-up"></i>
				</a>

				<!-- Logout Modal-->
			</div>
		</div>


		<div th:replace="fragments/adminpage :: logout"></div>
	</body>

</html>