<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Add Cases</title>
	<!-- Bootstrap core CSS-->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/4d45c4ec1e.js" crossorigin="anonymous"></script>


	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/vendor/css/sb-admin.css" rel="stylesheet">
</head>

<body id="page-top"
	style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
	<div th:replace="fragments/adminpage :: header"></div>

	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div id="content-wrapper">

			<div class="container-fluid">
				<h3 style="color:#30969c; margin-top: 10px" align="center">Add Case</h3>

				<div>
					<form action="#" th:action="@{/cases/save}" th:object="${cases}" method="POST">

						<table align="center" width=40%>
							<tr>
								<td>
									<dt for="firstName">Patient First Name:</dt>
									<input type="text" th:field="*{patient.firstName}" class="form-control" required=""
										placeholder="Patient First Name">

							</tr>
							<tr>

								<td>
									<dt for="lastName">Patient Last Name:</dt>
									<input type="text" th:field="*{patient.lastName}" class="form-control" required=""
										placeholder="Patient Last name">


								</td>
							</tr>
							<tr>


								<td>
									<dt for="dob">Patient DOB:</dt><input type="text" th:field="*{patient.dob}"
										class="form-control" required="" placeholder="Date of Birth">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="email">Patient Email:</dt><input type="text" th:field="*{patient.email}"
										class="form-control" required="" placeholder="Patient Email">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="contactNo">Patient Contact No:</dt><input type="text"
										th:field="*{patient.contactNo}" class="form-control" required=""
										placeholder="Patient ContactNo">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="address">Patient Address:</dt><input
										th:field="*{patient.address.addressLine1}" class="form-control" required=""
										placeholder="Patient Address" />
								</td>
							</tr>

							<tr>


								<td>
									<dt for="city">Patient City:</dt><input th:field="*{patient.address.city}"
										class="form-control" required="" placeholder="Patient City" />
								</td>
							</tr>
							<tr>


								<td>
									<dt for="state">Patient State:</dt><input th:field="*{patient.address.state}"
										class="form-control" required="" placeholder="Patient State" title="Two letter US State code" pattern="^((A[LKZR])|(C[AOT])|(D[EC])|(FL)|(GA)|(HI)|(I[DLNA])|(K[SY])|(LA)|(M[EDAINSOT])|(N[EVHJMYCD])|(O[HKR])|(PA)|(RI)|(S[CD])|(T[NX])|(UT)|(V[TA])|(W[AVIY]))$"/>
								</td>
							</tr>
							<tr>
								<td>
									<dt for="zipcode">Patient Zip Code:</dt><input th:field="*{patient.address.zipcode}"
										class="form-control" required="" placeholder="Patient Zip Code" pattern="[0-9]{5}" title="Five digit zip code"/>
								</td>
							</tr>

							<tr>
								<td>
									<dt for="country">Patient Country:</dt><input th:field="*{patient.address.country}"
										class="form-control" required="" placeholder="Patient Country" />
								</td>
							</tr>


							<tr>
								<td>
									<dt for="doctor">Select Doctor:</dt>
									<select class="form-control" th:field="*{doctor.id}" id="doctorList"
										required="true">
										<option value="">
											<---Select a Doctor--->
										</option>
										<option th:each="casedoctor : ${doctors}" th:value="${casedoctor.id}"
											th:text="${casedoctor}"></option>
									</select>
								</td>
							</tr>

							<tr>
								<td>
									<dt for="hospital">Select Hospital:</dt>
									<select class="form-control" th:field="*{hospital.id}" id="hospitalList">
										<option value="">
											<-----Select the Hospital----->
										</option>
										<option th:each="casehospital : ${hospitals}" th:value="${casehospital.id}"
											th:text="${casehospital}"></option>
									</select>
								</td>
							</tr>

							<tr>
								<td>
									<dt for="dateofadmission">Date of Admission:</dt><input
										th:field="*{dateOfAdmission}" class="form-control" required=""
										placeholder="Date of Admission" />
								</td>
							</tr>
							<tr>

								<td>
									<dt for="dateofdischarge">Date of Discharge:</dt><input type="text"
										th:field="*{dateOfDischarge}" class="form-control" required=""
										placeholder="Date of Discharge">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="medicalRecordId">Medical Record Id:</dt><input type="text"
										th:field="*{medicalRecordId}" class="form-control" required=""
										placeholder="Medical Record Id">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="diagnosis">Diagnosis:</dt><input type="text" th:field="*{diagnosis}"
										class="form-control" required="" placeholder="Diagnosis">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="providerName">Insurance Provider Name:</dt><input type="text"
										th:field="*{primaryInsurance.providerName}" class="form-control" required=""
										placeholder="Insurance Provider Name">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="insuranceId">Insurance Id:</dt><input type="text"
										th:field="*{primaryInsurance.insuranceId}" class="form-control" required=""
										placeholder="Insurance Id">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="Insurance Group Id">Insurance Group Id:</dt><input type="text"
										th:field="*{primaryInsurance.groupId}" class="form-control" required=""
										placeholder="Insurance Group Id">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="effectiveDate">Insurance Effective Date:</dt><input type="text"
										th:field="*{primaryInsurance.effectiveDate}" class="form-control" required=""
										placeholder="Insurance Effective Date">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="expirationDate">Insurance Expiration Date:</dt><input type="text"
										th:field="*{primaryInsurance.expirationDate}" class="form-control" required=""
										placeholder="Insurance Expiration Date">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="contactNo">Insurance Contact No:</dt><input type="text"
										th:field="*{primaryInsurance.contactNo}" class="form-control" required=""
										placeholder="Insurance Contact No">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="details">Insurance Details:</dt><input type="text"
										th:field="*{primaryInsurance.details}" class="form-control" required=""
										placeholder="Insurance Details">
								</td>
							</tr>

							<tr>

								<td>
									<dt for="attendingDoctorName">Attending Doctor Name:</dt><input type="text"
										th:field="*{attendingDoctorName}" class="form-control" required=""
										placeholder="Attending Doctor Name">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="attendingDoctorContactNo">Attending Doctor Contact No:</dt><input
										type="text" th:field="*{attendingDoctorContactNo}" class="form-control"
										required="" placeholder="Attending Doctor Contact No">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="paReco">Physician Advisor Recommendation:</dt><input type="text"
										th:field="*{paReco}" class="form-control" required=""
										placeholder="Physician Advisor Recommendation">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="caseStatus">Case Status:</dt><input type="text" th:field="*{caseStatus}"
										class="form-control" required="" placeholder="Case Status">
								</td>
							</tr>

							<tr>
								<td colspan="2" align="center"><br><input class="btn btn-lg" type="submit"
										value="Submit" style="background-color:#30969c"><br></td>

							</tr>

						</table>

					</form>
				</div>

				<!-- Sticky Footer -->
				<div th:replace="fragments/adminpage :: footer"></div>


			</div>
			<!-- /.content-wrapper -->

		</div>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

	</div>
	<!-- Logout Modal-->


	<div th:replace="fragments/adminpage :: logout"></div>


	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="/vendor/chart.js/Chart.min.js"></script>
	<script src="/vendor/datatables/jquery.dataTables.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/vendor/js/sb-admin.min.js"></script>

	<!-- Demo scripts for this page-->
	<script src="/vendor/js/demo/datatables-demo.js"></script>
	<script src="/vendor/js/demo/chart-area-demo.js"></script>
</body>


</html>