<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Doctor Case List</title>
	<!-- Bootstrap core CSS-->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://kit.fontawesome.com/4d45c4ec1e.js" crossorigin="anonymous"></script>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/vendor/css/sb-admin.css" rel="stylesheet">

</head>

<body>

	<body id="page-top"
		style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
		<div th:replace="fragments/adminpage :: header"></div>

		<div id="wrapper">

			<!-- Sidebar -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<div id="content-wrapper">

				<div class="container-fluid">

					<ol class="breadcrumb" style="background-color:#30969c">
						<li class="breadcrumb-item">
							<a th:href="@{/caselist/add}" style="color:black">Dashboard</a>
						</li>
						<li class="breadcrumb-item active" style="color:white">Overview</li>
					</ol>

					<div id="content-wrapper">
						<div class="card mb-3">

							<h3 align="center" style="color:#30969c; margin-top: 10px">Case List</h3>

							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Case Id</th>
												<th>Patient First Name</th>
												<th>Patient Last Name</th>
												<th>Diagnosis</th>
												<th>Admission Date</th>
												<th>Action</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Case Id</th>
												<th>Patient First Name</th>
												<th>Patient Last Name</th>
												<th>Diagnosis</th>
												<th>Admission Date</th>
												<th>Action</th>
											</tr>
											<tbody>
												<tr th:each="cases:${doccaselist}">

													<td th:text="${cases.id}" />
													<td th:text="${cases.patient.firstName}" />
													<td th:text="${cases.patient.lastName}" />
													<td th:text="${cases.diagnosis}" />
													<td th:text="${cases.dateOfAdmission}" />
													<td> <a th:href="@{/cases/docupdate/{id}(id=${cases.id})}"
															class="btn btn-info"><i class="fa fa-edit"></i></a>

												</tr>

											</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- /.container-fluid -->

						<!-- Sticky Footer -->
						<div th:replace="fragments/adminpage :: footer"></div>


					</div>
					<!-- /.content-wrapper -->

				</div>
				<!-- /#wrapper -->

				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fas fa-angle-up"></i>
				</a>

				<!-- Logout Modal-->
			</div>
		</div>


		<div th:replace="fragments/adminpage :: logout"></div>


		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Page level plugin JavaScript-->
		<script src="/vendor/chart.js/Chart.min.js"></script>
		<script src="/vendor/datatables/jquery.dataTables.js"></script>
		<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/vendor/js/sb-admin.min.js"></script>

		<!-- Demo scripts for this page-->
		<script src="/vendor/js/demo/datatables-demo.js"></script>
		<script src="/vendor/js/demo/chart-area-demo.js"></script>
	</body>

</html>