<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/adminpage :: headerfragment">
    <title id="pageTitle">View Case</title>
</head>

<body id="page-top"
	style="background-image: url('/images/abstract-medical-wallpaper-template-design_53876-61802.webp');">
		<div th:replace="fragments/adminpage :: header"></div>

	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div id="content-wrapper">

			<div class="container-fluid">
				<h3 style="color:#30969c; margin-top: 10px" align="center">View Case</h3>

				<div>
					<form action="#" th:action="@{/cases/usercases}" th:object="${cases}" method="GET">

						<table align="center" width=50%>
						<tr>

								<td>
									<dt for="firstName">Patient First Name:</dt>
									<input disabled="true" type="text" th:field="*{patient.firstName}"
											class="form-control" required="" placeholder="Patient First Name">
								</td>
							</tr>
							<tr>

								<td>
									<dt for="lastName">Patient Last Name:</dt>
										<input disabled="true" type="text" th:field="*{patient.lastName}" class="form-control"
											required="" placeholder="Patient Last name">


								</td>
							</tr>
							<tr>
									

								<td><dt for="dob">Patient DOB:</dt>
								<input disabled="true" type="text"
										th:field="*{patient.dob}" class="form-control" required=""
										placeholder="Date of Birth"></td>
							</tr>
							<tr>

								<td><dt for="email">Patient Email:</dt>
								<input disabled="true" type="text"
										th:field="*{patient.email}" class="form-control" required=""
										placeholder="Patient Email">
								</td>
							</tr>
							<tr>

								<td><dt for="contactNo">Patient Contact No:</dt>
								<input disabled="true" type="text" th:field="*{patient.contactNo}" class="form-control" required=""
										placeholder="Patient ContactNo"></td>
							</tr>
							<tr>

								<td><dt for="address">Patient Address:</dt>
								<input disabled="true" th:field="*{patient.address.addressLine1}" class="form-control" required=""
										placeholder="Patient Address" /></td>
							</tr>

							<tr>


								<td><dt for="city">Patient City:</dt>
								<input disabled="true" th:field="*{patient.address.city}" class="form-control" required=""
										placeholder="Patient City" /></td>
							</tr>
							<tr>


								<td><dt for="state">Patient State:</dt>
								<input disabled="true" th:field="*{patient.address.state}" class="form-control" required=""
										placeholder="Patient State" /></td>
							</tr>
							<tr>
								<td><dt for="zipcode">Patient Zip Code:</dt>
								<input disabled="true" th:field="*{patient.address.zipcode}" class="form-control" required=""
										placeholder="Patient Zip Code" /></td>
							</tr>

							<tr>
								<td><dt for="country">Patient Country:</dt>
								<input disabled="true" th:field="*{patient.address.country}" class="form-control" required=""
										placeholder="Patient Country" /></td>
							</tr>


							<tr>
								<td>
									<dt for="doctor">Doctor:</dt>
									<input disabled="true" th:field="*{doctor}" class="form-control" required=""
										placeholder="Doctor" />
								</td>
							</tr>

							<tr>
								<td>
									<dt for="hospital">Hospital:</dt>
									<input disabled="true" th:field="*{hospital}" id="hospital" class="form-control" required=""
										placeholder="Hospital" />
								</td>
							</tr>


							<tr>
								<td><dt for="dateofadmission">Date of Admission:</dt>
								<input disabled="true" th:field="*{dateOfAdmission}" class="form-control" required=""
										placeholder="Date of Admission" /></td>
							</tr>
							<tr>

								<td><dt for="dateofdischarge">Date of Discharge:</dt>
								<input disabled="true" type="text" th:field="*{dateOfDischarge}" class="form-control" required=""
										placeholder="Date of Discharge"></td>
							</tr>
							<tr>

								<td><dt for="medicalRecordId">Medical Record Id:</dt>
								<input disabled="true" type="text" th:field="*{medicalRecordId}" class="form-control" required=""
										placeholder="Medical Record Id"></td>
							</tr>
							<tr>

								<td><dt for="diagnosis">Diagnosis:</dt>
								<input disabled="true" type="text" th:field="*{diagnosis}" class="form-control" required=""
										placeholder="Diagnosis"></td>
							</tr>
							<tr>

								<td><dt for="providerName">Insurance Provider Name</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.providerName}" class="form-control"
										required="" placeholder="Insurance Provider Name"></td>
							</tr>
							<tr>

								<td><dt for="insuranceId">Insurance Id:</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.insuranceId}" class="form-control"
										required="" placeholder="Insurance Id"></td>
							</tr>
							<tr>

								<td><dt for="Insurance Group Id">Insurance Group Id:</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.groupId}" class="form-control"
										required="" placeholder="Insurance Group Id"></td>
							</tr>
							<tr>

								<td><dt for="effectiveDate">Insurance Effective Date:</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.effectiveDate}" class="form-control"
										required="" placeholder="Insurance Effective Date"></td>
							</tr>
							<tr>

								<td><dt for="expirationDate">Insurance Expiration Date:</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.expirationDate}"
										class="form-control" required="" placeholder="Insurance Expiration Date"></td>
							</tr>
							<tr>

								<td><dt for="contactNo">Date of Discharge:</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.contactNo}" class="form-control"
										required="" placeholder="Insurance Contact No"></td>
							</tr>
							<tr>

								<td><dt for="details">Insurance Details:</dt>
								<input disabled="true" type="text" th:field="*{primaryInsurance.details}" class="form-control"
										required="" placeholder="Insurance Details"></td>
							</tr>

							<tr>

								<td><dt for="attendingDoctorName">Attending Doctor Name:</dt>
								<input disabled="true" type="text" th:field="*{attendingDoctorName}" class="form-control"
										required="" placeholder="Attending Doctor Name"></td>
							</tr>
							<tr>

								<td><dt for="attendingDoctorContactNo">Attending Doctor Contact No:</dt>
								<input disabled="true" type="text" th:field="*{attendingDoctorContactNo}" class="form-control"
										required="" placeholder="Attending Doctor Contact No"></td>
							</tr>
							<tr>

								<td><dt for="paReco">Physician Advisor Recommendation:</dt>
								<input disabled="true" type="text" th:field="*{paReco}" class="form-control" required=""
										placeholder="Physician Advisor Recommendation"></td>
							</tr>
							<tr>

								<td><dt for="caseStatus">Case Status:</dt>
								<input disabled="true" type="text" th:field="*{caseStatus}" class="form-control" required=""
										placeholder="Case Status"></td>
							</tr>

							

						</table>
					</form>
				</div>

				<!-- Sticky Footer -->
					<div th:replace="fragments/adminpage :: footer"></div>


			</div>
			<!-- /.content-wrapper -->

		</div>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

	</div>
	<!-- Logout Modal-->


		<div th:replace="fragments/adminpage :: logout"></div>


	
</body>


</html>