* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_494 {
  width: 100%;
  height: 550px;
  background: url("../images/v1_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_495 {
  width: 100%;
  height: 550px;
  background: rgba(2,221,205,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1366px;
  overflow: hidden;
}
.v1_496 {
  width: 100%;
  height: 550px;
  background: url("../images/v1_496.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_497 {
  width: 100%;
  height: 550px;
  background: linear-gradient(rgba(0,124,152,0.25), rgba(235,234,239,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1366px;
  overflow: hidden;
}
.v1_498 {
  width: 100%;
  height: 550px;
  background: url("../images/v1_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_499 {
  width: 734px;
  height: 734px;
  background: rgba(190,210,247,1);
  opacity: 0.5;
  position: absolute;
  top: 199px;
  left: 889px;
  border-radius: 50%;
}
.v1_500 {
  width: 734px;
  height: 734px;
  background: rgba(21,158,236,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 599px;
  left: 387px;
  border-radius: 50%;
}
.v1_501 {
  width: 100%;
  height: 550px;
  background: url("../images/v1_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_503 {
  width: 519px;
  height: 216px;
  background: url("../images/v1_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 410px;
  overflow: hidden;
}
.v1_504 {
  width: 519px;
  color: rgba(31,43,108,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_506 {
  width: 196px;
  color: rgba(0,124,152,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
